body {
    background-color: #dfe9c1;
    text-align: center;
}

#navigation {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}


.logo-img {
    width: 12em;
}

.navbar .nav a {
    font-size: 1.5em;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.menu-btn {
    display: none;
}

.navbar .nav {
    display: flex;
}

.bi-list {
    color: white;
    font-size: 1.5em;
}

#my-menu {
    background-color: rgb(76, 142, 230);
    width: 13%;
    position: absolute;
    right: 0px;
    padding: 0px 10px;
    z-index: 1;
}

#my-menu a {
    color: white;
    font-size: .8em;
}

.b1-tittle,
.b1-des {
    color: white;
    margin: 0% auto;
}

.b1-tittle {
    padding-top: 10%;
    font-size: 7em;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1em;
    margin-bottom: 3%;
}

.b1-des {
    font-size: 1.6em;
    font-family: 'Lato', sans-serif;
    padding-bottom: 17%;
    width: 60%;
}

.b1-img1,
.b1-img2 {
    position: absolute;
}

.b1-img1 {
    width: 15%;
    top: 91%;
    left: 10%;
}

.b1-img2 {
    bottom: 40%;
    right: 0%;
    width: 8.5%;
    z-index: 0;
}


/* Banner 2 is from here */

.b2-shape1 {
    width: 65%;
    position: absolute;
    right: 0px;
    z-index: -1;
    bottom: 611pt;
}
.b2-shape2 {
    width: 26%;
    position: absolute;
    right: 0px;
    top: -171pt;
    z-index: -1;
}

.popular-menu h1 {
    color: #2F58CD;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.7em;
    font-weight: 700;
    padding-top: 10%;
}

.popular-menu .row {
    margin-top: 8%;
}

.popular-menu button {
    background-color: #2F58CD;
    color: white;
    font-family: 'Lato', sans-serif;
    margin-top: 8%;
    font-size: 2em;
    padding: 0.5% 3%;
}

.b2-card {
    margin: 0px auto;
    width: 80%;
    text-align: left;
}

.b2-card h1 {
    color: black;
    padding-top: 0%;
}

.b2-card p {
    font-size: 1.1em;
    font-weight: 400;
}



@media (max-width:390px) {
    .menu-btn {
        display: block;
    }

    .navbar .nav {
        display: none;
    }

    .logo-img {
        width: 5em;
    }

    #my-menu {
        width: 20%;
    }

    .b1-tittle {
        font-size: 2em;
    }

    .b1-des {
        font-size: .5em;
        padding-bottom: 26%;
    }

}


@media (min-width:390px) and (max-width:576px) {
    .menu-btn {
        display: block;
    }

    .navbar .nav {
        display: none;
    }

    .logo-img {
        width: 5em;
    }

    .bi {
        font-size: 1.2em;
    }

    #my-menu {
        width: 18%;
    }

    #my-menu a {
        font-size: .7em;
    }

    .b1-tittle {
        font-size: 3em;
    }

    .b1-des {
        font-size: .7em;
        padding-bottom: 26%;
    }

    .b1-img1 {
        top: 90%;
        left: 10%;
    }

    .b1-img2 {
        bottom: 48%;
        right: 0%;
    }

    /* Banner 2 ************************* */
    .b2-shape1 {
        width: 5rem;
        bottom: 30rem;
    }

    .b2-shape2 {
        width: 23%;
        top: -82pt;
    }
}

@media (min-width:576px) and (max-width:768px) {
    .menu-btn {
        display: block;
    }

    .navbar .nav {
        display: none;
    }

    .logo-img {
        width: 7em;
    }

    .bi {
        font-size: 1.5em;
    }

    #my-menu {
        width: 18%;
    }

    #my-menu a {
        font-size: .8em;
    }

    .b1-tittle {
        font-size: 4em;
    }

    .b1-des {
        font-size: .7em;
        padding-bottom: 26%;
    }

    .b1-img1 {
        top: 90%;
        left: 10%;
    }

    .b1-img2 {
        bottom: 48%;
        right: 0%;
    }

    /* Banner 2 ***************** */
    .b2-shape1 {
        width: 59%;
        bottom: 600pt;
    }

    .b2-shape2 {
        width: 23%;
        top: -82pt;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .menu-btn {
        display: none;
    }

    .navbar .nav {
        display: flex;
    }

    .logo-img {
        width: 7em;
    }

    .bi {
        font-size: 1.5em;
    }

    .navbar .nav a {
        font-size: 1.1em;
    }

    #my-menu {
        width: 14%;
    }

    #my-menu a {
        font-size: .8em;
    }

    .b1-tittle {
        font-size: 4.7em;
    }

    .b1-des {
        font-size: 1em;
        padding-bottom: 26%;
    }

    .b1-img1 {
        top: 90%;
        left: 10%;
    }

    .b1-img2 {
        bottom: 48%;
        right: 0%;
    }

    /* Banner 2 ******************* */
    .b2-shape1 {
        width: 65%;
        bottom: 560pt;
    }

    .b2-shape2 {
        width: 30%;
        top: -119pt;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .menu-btn {
        display: none;
    }

    .navbar .nav {
        display: flex;
    }

    .logo-img {
        width: 8em;
    }

    .bi {
        font-size: 1.5em;
    }

    .navbar .nav a {
        font-size: 1.2em;
    }

    #my-menu {
        width: 14%;
    }

    #my-menu a {
        font-size: 1em;
    }

    .b1-tittle {
        font-size: 5.5em;
    }

    .b1-des {
        font-size: 1.2em;
        padding-bottom: 26%;
    }

    .b1-img1 {
        top: 90%;
        left: 10%;
    }

    .b1-img2 {
        bottom: 48%;
        right: 0%;
    }

    /* Banner 2 ************************** */

    .b2-shape1 {
        width: 65%;
        bottom: 549pt;
    }

    .b2-shape2 {
        width: 30%;
        top: -144pt;
    }
}

@media (min-width:1200px) and (max-width:1400px) {
    .menu-btn {
        display: none;
    }

    .navbar .nav {
        display: flex;
    }

    .logo-img {
        width: 9em;
    }

    .bi {
        font-size: 1.8em;
    }

    #my-menu {
        width: 14%;
    }

    #my-menu a {
        font-size: 1em;
    }

    .b1-tittle {
        font-size: 6.2em;
    }

    .b1-des {
        font-size: 1.2em;
        padding-bottom: 26%;
    }

    .b1-img1 {
        top: 90%;
        left: 10%;
    }

    .b1-img2 {
        bottom: 48%;
        right: 0%;
    }


    /* Banner2 *********************** */
    .b2-shape1 {
        width: 65%;
        bottom: 602pt;

    }
    .b2-shape2 {
        width: 30%;
        top: -171pt;
    }

    .popular-menu h1 {
        color: #2F58CD;
        font-family: 'Ubuntu', sans-serif;
        font-size: 2.7em;
        font-weight: 700;
        padding-top: 10%;
    }

    .popular-menu .row {
        margin-top: 8%;
    }

    .popular-menu button {
        background-color: #2F58CD;
        color: white;
        font-family: 'Lato', sans-serif;
        margin-top: 8%;
        font-size: 2em;
        padding: 0.5% 3%;
    }

    .b2-card {
        margin: 0px auto;
        width: 80%;
        text-align: left;
    }

    .b2-card h1 {
        color: black;
        padding-top: 0%;
    }

    .b2-card p {
        font-size: 1.1em;
        font-weight: 400;
    }
}