body {
  background-color: #D0F5BE;
  text-align: center;
  margin: 0px;
  padding: 0px;
  position: relative;
}

#navigation {
  background-image: url(../images/b1-shape3.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.navbar-brand>img {
  width: 9rem;
}

.navbar-toggler {
  background-color: rgba(219, 219, 219, 0.781);
  padding: 6.5px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.bi-list {
  color: black;
}

#navigation .nav .nav-link {
  color: white;
  display: flex;
}

#my-menu {
  width: 7rem;
  margin-left: auto !important;
  padding-left: 1.5rem;
  text-align: left;
}

#my-menu a {
  color: white;
  font-size: 1rem;
}

.b1-tittle {
  color: white;
  font-weight: 600;
  font-size: 5rem;
  font-family: "Ubuntu", sans-serif;
  line-height: 5rem;
  padding: 3rem 0 1rem 0;
}

.b1-des {
  width: 50%;
  color: white;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  margin: 0 auto 0 auto;
  padding: 0 0 25% 0;
}

.b1-img1 {
  position: absolute;
  left: 5%;
  bottom: -8%;
  max-width: 15%;
}

.b1-img2 {
  position: absolute;
  right: 0%;
  bottom: 56%;
  max-width: 10%;
}

/* Banner 2 */
.b2-div {
  position: relative;
  padding: 0px;
}

.b2-shape1 {
  position: absolute;
  bottom: 63vh;
  right: 0px;
  width: 61%;
  z-index: -1;
}

.popular-menu>h1 {
  color: #7287ae;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: 'Ubuntu', sans-serif;
  /* text-shadow: 1px 1px 4px black; */
  padding: 5% 0% 2% 0%;
}

.b2-card {
  width: 18rem;
  margin: 0% auto;
  box-shadow: 2px 2px 5px black;
}

.card-body {
  text-align: left;
}

.card-body>h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.card-body>p {
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
}

.popular-menu button {
  margin-top: 3%;
  margin-bottom: 5%;
  padding: 0% 5%;
  font-size: 1.3rem
}



/* Bannner 3 and Banner 4 */
.b3,.b4{
  position: relative;
  box-shadow: 1px 1px 5px black;
}
.b3 div,.b4 div {
  text-align: center;
  padding: 0px;
  margin: 0px;
  background-color: white;
}
.b3 img[alt="food image"],.b4 img[alt="food image"] {
  width: 100%;
}
.b3 img[alt="shape"],.b4 img[alt="shape"]{
  position: absolute;
  max-width: 15%;
}
.b3 img[alt="shape"]{
  bottom: -6%;
  left: 15%;
  z-index: 1;
}
.b4 img[alt="shape"]{
  bottom: -6%;
  right: 10%;
}
.b3 h1,.b4 h1{
  font-size: 4rem;
  width: 85%;
  padding:16% 0% 2% 5%;
}
.b3 p,.b4 p{
  font-size: 2rem;
  width: 85%;
  text-align: justify;
  padding: 2% 0% 2% 5%;
}
.b3 button,.b4 button{
  font-size: 2rem;
  margin-left: 6%;
}

/* Banner 5 */
#banner5 div[class="container-xxl"]{
  background-color: #7287ae;
}
#banner5 p[class="display-2"]{
  color: white;
  font-weight: 400;
  padding-top: 5%;
  font-family: 'Ubuntu', sans-serif;
}

.order-process{
  padding: 6% 0% 3% 0%;
}
.order-process a{
  background-color: #ffffff;
  color: #7287ae;
  font-size: 2.5rem;
  font-weight: 500;
  text-decoration: none;
  padding: 1% 2%;
}

.order-process h2,.order-process p{
  margin:4% auto;
  color: white;
}
.order-process h2{
  font-size: 2rem;
}
.order-process p{
  font-size: 1.2rem;
  width: 77%;
  font-family: "Lato", sans-serif;
}


/* Banner 6 */

.b6{
  background-image: url(../images/b6-image.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12% 10%;
}
.b6 h2,.b6 p{
  color: #7287ae;
  font-family: 'Ubuntu', sans-serif;
  width: 80%;
  margin: 3% auto;
}
.b6 button{
  padding: 0% 5%;
  background-color: #7287ae;
  border-color: #7287ae;
}

/* Banner 7 */

#banner7 p{
  color: #7287ae;
}
.bi-quote{
  font-size: 4rem;
}

/* Footer */
#footer div[class="container-fluid"]{
  background-image: url(../images/ft-bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.ft-shape{
  position: absolute;
  left: 0;
  bottom: 0pt;
  width: 49vh;
  z-index: -1;
}

.about{
 text-align: left;
 color: white;
 padding: 13% 0% 5% 0%;
}
.about .row{
  margin-top: 19%;
  margin-bottom: 9%;
}
.about ul{
  list-style:none;
  margin: 0;
  padding: 0;
}



@media (max-width: 576px) {
  #navigation {
    background-position: top;
    background-size: auto;
  }

  #navigation .nav .nav-link {
    display: none;
  }

  .b1-tittle {
    font-size: 2.3rem;
    line-height: 2.5rem;
  }

  .b1-des {
    padding: 0 0 16% 0;
    font-size: 0.8rem;
  }

  /* Banner 2 */

  .b2-shape1 {
    visibility: hidden;
  }

  .popular-menu>h1 {
    font-size: 1rem;
  }

  .b2-card {
    width: 10rem;
    margin-bottom: 4%;
  }

  .card-body>h1 {
    font-size: 1rem;
  }

  .card-body>p {
    font-size: .8rem;
  }

  .popular-menu button {
    font-size: .8rem;
  }
/* Bannner 3 and Banner 4 */
.b3,.b4{
  box-shadow: none;
}
.b3 img[alt="shape"],.b4 img[alt="shape"]{
  bottom: -2%;
  left: 63%;
}
.b3 div,.b4 div{
  margin: 0px auto;
  box-shadow: 1px 0px 6px black;
}

.b3 h1,.b4 h1{
  font-size: 2rem;
 }
 .b3 p,.b4 p{
  font-size: .9rem;
 }
 .b3 button,.b4 button{
  font-size: .8rem;
  margin-bottom: 10%;
 }
 /* Banner 5 */
 .order-process p{
  font-size: .9rem;
 }
 /* Banner 6 */
 .b6 p{
  font-size: 1rem !important;
 }
 /* Banner 7 */
 #banner7 p[class="fs-2"]{
  font-size: 1rem !important;
 }
 #banner7 p[class="display-2 fw-bold"]{
 font-size: 1.4rem !important;
 }
}

@media (min-width: 576px) and (max-width: 768px) {
  #navigation .nav .nav-link {
    display: none;
  }

  .b2-shape1 {
    bottom: 155vh;
  width: 55%;
  }

  .b2-card {
    margin-bottom: 5%;
    width: 14rem;
  }

/* Bannner 3 and Banner 4 */
.b3,.b4{
  box-shadow: none;
}
.b3 img[alt="shape"],.b4 img[alt="shape"]{
  bottom: -3%;
  left: 63%;
}
.b3 div,.b4 div{
  margin: 0px auto;
  box-shadow: 1px 0px 6px black;
}
.b3 h1,.b4 h1{
  font-size: 2.5rem;
  padding: 9% 0% 2% 5%;
 }
 .b3 p,.b4 p{
  font-size: 1.2rem;
 }
 .b3 button,.b4 button{
  font-size: 1rem;
  margin-bottom: 10%;
 }


}

@media (min-width: 768px) and (max-width: 992px) {
  #navigation .nav .nav-link {
    display: none;
  }
  .b2-shape1 {
    bottom: 53vh;
  }
  .b2-card {
    width: 12rem;
  }

  .card-body>h1 {
    font-size: 1.2rem;
  }

  .card-body>p {
    font-size: .8rem;
  }

  .popular-menu button {
    font-size: 1.1rem
  }
/* Bannner 3 and Banner 4 */
  .b3 h1,.b4 h1{
    font-size: 2.5rem;
   }
   .b3 p,.b4 p{
    font-size: 1rem;
   }
   .b3 button,.b4 button{
    font-size: 1rem;
   }

    /* Banner 5 */
 .order-process p{
  font-size: .85rem;
 }

}

@media (min-width: 992px) and (max-width: 1200px) {
  .b3 h1,.b4 h1{
    font-size: 3rem;
   }
   .b3 p,.b4 p{
    font-size: 1.2rem;
   }
   .b3 button,.b4 button{
    font-size: 1.2rem;
   }
      /* Banner 5 */
 .order-process p{
  font-size: .9rem;
 }
}

@media (min-width: 1200px) and (max-width: 1400px) {
   .b3 h1,.b4 h1{
    font-size: 3.5rem;
   }
   .b3 p,.b4 p{
    font-size: 1.5rem;
   }
   .b3 button,.b4 button{
    font-size: 1.5rem;
   }
      /* Banner 5 */
 .order-process p{
  font-size: 1rem;
 }
}